https://drive.google.com/file/d/1JULuQLe6m2MSGjBge_0higN-_4ZWrzB1/view?usp=share_link

"use this link to download the ‘glove.twitter.27B.100d.txt’"
alternatively this can be also used- https://nlp.stanford.edu/data/glove.twitter.27B.zip
and use the ‘glove.twitter.27B.100d.txt’ for gloVe embedding part in the notebook.
